:root {
    --primary: red;
    --secondary: blue;
    --background: rgba(128, 128, 128, 0.685);
    --text-light: white;
    --text-dark: rgb(212, 0, 255);

}

body {
    background-color: var(--background);
    color: var(--text-dark);
}